@page
@model ApprovalProcess.Pages.ListModel
@{
}

@if(Model.RequestObj.Count > 0)
            {
<table class="table">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Requester</th>
            <th>Department</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
            <th>SupportingDoc</th>
            <th>Status</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.RequestObj)
        {
        <tr>
            @*<td>@item.RequestId</td> *@
            <td>@item.RequesterName</td>
            <td>@item.DepartmentId </td>
            <td>@item.RequestDescription</td>
            <td>@item.RequestAmount</td>
            <td>@item.RequestedDate </td>
            <td>@item.SupportingDoc</td>
            <td>@item.RequestStatus</td>
        </tr>
        }

    </tbody>
</table>      }
            else
            {
                <h3> No list exists </h3>
            }

