@page
@model ApprovalProcess.Pages.Logics.UpdateModel
@{
}

<div>
    <form method="post" class="m-1">
        <div>
            <label asp-for="@Model.request.RequestId" hidden class="form-control"></label>
            <input asp-for="@Model.request.RequestId" hidden class="form-control" />
        </div>
        <div>
            <label asp-for="@Model.request.RequesterName" class="form-control"></label>
            <input asp-for="@Model.request.RequesterName" class="form-control" />
        </div>

        
        <div>
            @* <label asp-for="@Model.request.DepartmentId" class="form-control"></label>*@

            <select asp-for="@Model.request.Department.Id" asp-items="@Model.department">
                <option>Select Department</option>
            </select>
            <div> <input asp-for="@Model.request.Department.Name" class="form-control" /> </div>
        </div>

        <div>
            <label asp-for="@Model.request.RequestedDate" class="form-control"></label>
            <input asp-for="@Model.request.RequestedDate" readonly class="form-control" />
        </div>
        <div>
            <label asp-for="@Model.request.RequestDescription" class="form-control"></label>
            <input asp-for="@Model.request.RequestDescription" class="form-control" />
        </div>
        <div>
            <label asp-for="@Model.request.RequestAmount" class="form-control"></label>
            <input asp-for="@Model.request.RequestAmount" class="form-control" />
        </div>

        <div>
            <label asp-for="@Model.request.SupportingDoc" class="form-control"></label>
            <input asp-for="@Model.request.SupportingDoc" class="form-control" />
        </div>


        <br />
        <div> <input type="submit" name="name" value="Submit" class="btn btn-primary" /> </div>
    </form>

</div>